
<form action='/add_form' method='post'>
  URL: <input type='text' name='url' placeholder='URL'><br>
  Title: <input type='text' name='title' placeholder="Title"><br>
  <input type='submit' value='Add'>
</form>
